<ion-view>
	<ion-content class="padding about">
		<div class="bar bar-header bar-balanced">
			<button class="back-menu"><a href="#/menu-client"><i class="ion-ios-arrow-left"></i></a></button>
			<h1 class="title">A propos</h1>
		</div>
        <div class="content">
            <h4>Tipeek</h4>
            <p>Tipeek est une application mobile géolocalisée qui propose en temps réel des logements sur vos itinéraires quotidiens</p>

            <p><span>Directrice de Publication</span> : Caroline Morot</p>

            <p>Les icônes ont été créées par Josh Sorosky, Creative Stall, Icon Island, Ralf Schmitzer et Austin Condiff et téléchargées via le site The noun project.</p>

            <div class="contact-mail">
                <img src="../img/icons/Planche-Icones-3-38.png" alt="" width="30">
                <span>hello@tipeek.fr</span>
            </div>
            <div class="contact-website">
                <img src="../img/icons/Planche-Icones-3-39.png" alt="" width="30">
                <span>www.tipeek.fr</span>
            </div>
        </div>
	</ion-content>
</ion-view>