<ion-view>

	<ion-content ng-show="currentScreen === 1" class="padding tipeek_screen_path_appartment">

		<div class="bar bar-header bar-balanced">
		  <h1 class="title">Localisation</h1>
		</div>

		<div class="style_input_path_appartment">

			<input id="number" 	type="number" 	ng-model="announce.localisation.number" 	placeholder="Numéro de voie">
			<input id="street" 	type="text"  	ng-model="announce.localisation.street" 	placeholder="Rue/Voie">
			<input id="zipcode" type="number" 	ng-model="announce.localisation.zipcode" placeholder="Code postal">
			<input id="city" 	type="text"  	ng-model="announce.localisation.city" 	placeholder="Ville">			

			<button ng-click="registerUserProperty('geoloc²')" class="geolocAnnouncer"><i class="ion-pinpoint"></i></button>

			<h5>(L'adresse n'apparaîtra pas sur l'annonce)</h5>

			<button class="backAppartment" ng-click="back()"><i class="ion-ios-arrow-left"></i></button>
			<button class="validSearchAppartment" ng-click="registerUserProperty('localisation')"><i class="ion-android-done"></i></button>
		</div>

	</ion-content>

	<ion-content ng-show="currentScreen === 2" class="padding tipeek_screen_path_appartment">

		<div class="bar bar-header bar-balanced">
			<h1 class="title">Localisation</h1>
		</div>

		<div class="style_input_path_appartment">
			<input id="localisation" type="address" name="localisation" value="localisation" ng-model="announce.addressLocalisation">
			<button ng-click="registerUserProperty('geoloc')" class="geolocAnnouncer"><i class="ion-pinpoint"></i></button>
			<button class="valid large" ng-click="registerUserProperty('checkGeoloc')">Vérifier sur la carte</button>
			<button class="backAppartment" ng-click="back()"><i class="ion-ios-arrow-left"></i></button>
			<button class="validSearchAppartment" ng-click="registerUserProperty('addressLocalisation')"><i class="ion-android-done"></i></button>

		</div>
	</ion-content>

	<ion-content ng-show="currentScreen === 3" class="padding tipeek_screen_path_appartment">

		<div class="bar bar-header bar-balanced">
			<h1 class="title">Type d'annonce</h1>
		</div>

		<p ng-show="error" class="formErrorAnnounce">Vous devez choisir un type d'annonce</p>

		<div class="style_input_path_appartment">

				<div class="inputStyle">
					<input id="vente" type="radio" name="propertyType" value="Vente" ng-model="announce.propertyType" ng-checked="true">
					<label class="labelRadio" for="vente">Vente</label>
				</div>

				<div class="inputStyle">
					<input id="location" type="radio" name="propertyType" value="Location" ng-model="announce.propertyType">
					<label class="labelRadio" for="location">Location</label>
				</div>

			<button class="backAppartment" ng-click="back()"><i class="ion-ios-arrow-left"></i></button>
			
			<button class="validSearchAppartment" ng-click="registerUserProperty('propertyType')"><i class="ion-android-done"></i></button>

		</div>
	</ion-content>

	<ion-content ng-show="currentScreen === 4" class="padding tipeek_screen_path_appartment">

		<div class="bar bar-header bar-balanced">
			<h1 class="title">Type de bien</h1>
		</div>

		<p ng-show="error" class="formErrorAnnounce">Vous devez choisir un type de bien</p>

		<div class="style_input_path_appartment">

			<div class="inputStyle" ng-repeat="homeType in homeTypes">
				<input id="{{homeType.id}}" type="radio" name="homeType" value="{{homeType.id}}" ng-model="announce.homeType" ng-checked="true">
				<label class="labelRadio" for="{{homeType.id}}">{{homeType.name}}</label>
			</div>

			<button class="backAppartment" ng-click="back()"><i class="ion-ios-arrow-left"></i></button>
			<button class="validSearchAppartment" ng-click="registerUserProperty('homeType')"><i class="ion-android-done"></i></button>			
		</div>
	</ion-content>

	<ion-content ng-show="currentScreen === 5" class="padding tipeek_screen_path_appartment">
		<div class="bar bar-header bar-balanced">
		  <h1 class="title">Style</h1>
		</div>

		<p ng-show="error" class="formErrorAnnounce">Vous devez choisir un style</p>

		<div class="style_input_path_appartment">

			<div class="inputStyle">
				<input id="ancien" type="radio" name="style" value="Ancien" ng-model="announce.style" ng-checked="true">
				<label class="labelRadio" for="ancien">Ancien</label>
			</div>

			<div class="inputStyle">
				<input id="neuf" type="radio" name="style" value="Neuf" ng-model="announce.style">
				<label class="labelRadio" for="neuf">Neuf</label>
			</div>

		<button class="backAppartment" ng-click="back()"><i class="ion-ios-arrow-left"></i></button>
		<button class="validSearchAppartment" ng-click="registerUserProperty('style')"><i class="ion-android-done"></i></button>

		</div>
	</ion-content>

	<ion-content ng-show="currentScreen === 6" class="padding tipeek_screen_path_appartment">
			<div class="bar bar-header bar-balanced">
			  <h1 class="title">Surface</h1>
			</div>

			<p ng-show="error" class="formErrorAnnounce">Vous devez indiquer une surface</p>

			<div class="list style_input_path_appartment">

				<input type="number" class="surface" placeholder="Entrez la surface du bien" ng-model="announce.surface">
				<div class="wording">m2</div>
				<label style="display: inline-block;"></label>

				<button class="backAppartment" ng-click="back()"><i class="ion-ios-arrow-left"></i></button>
				<button class="validSearchAppartment" ng-click="registerUserProperty('surfaceAppart')"><i class="ion-android-done"></i></button>	

			</div>
	</ion-content>

 	<ion-content ng-show="currentScreen === 7" class="padding tipeek_screen_path_appartment">
		<div class="bar bar-header bar-balanced">
		  <h1 class="title">Nombre de pièces</h1>
		</div>

		<p ng-show="error" class="formErrorAnnounce">Vous devez indiquer un nombre de pièces</p>

		<div class="list style_input_path_appartment">

			<label class="item item-input item-floating-label">
				<span class="input-label">Pièces</span>
				<input type="number" placeholder="Nombre de pièces" ng-model="announce.nbPieces">
			</label>

			<label class="item item-input item-floating-label">
				<span class="input-label">Chambres</span>
				<input type="number" placeholder="Nombre de chambres" ng-model="announce.nbRooms">
			</label>

			<button class="backAppartment" ng-click="back()"><i class="ion-ios-arrow-left"></i></button>
			<button class="validSearchAppartment" ng-click="registerUserProperty('nbPieces')"><i class="ion-android-done"></i></button>			
		</div>

	</ion-content>

	<ion-content ng-show="currentScreen === 8" class="padding tipeek_screen_path_appartment">

		<div class="bar bar-header bar-balanced">
		  <h1 class="title">Equipements</h1>
		</div>

		<p ng-show="error" class="formErrorAnnounce">Vous devez choisir au moins 1 équipement</p>

			<div class="list style_input_path_appartment">

				<div class="inputStyle">
					<input id="terrasse" type="checkbox" name="equipments" value="Balcon/Terrasse" ng-model="announce.equipments['balcon']">
					<label class="labelValid" for="terrasse"><span><i class="ion-android-done"></i></span>Balcon, Terrasse</label>
				</div>

				<div class="inputStyle">
					<input  id="cave" type="checkbox" name="equipments" value="Cave" ng-model="announce.equipments['cave']">
					<label class="labelValid" for="cave"><span><i class="ion-android-done"></i></span>Cave</label>
				</div>

				<div class="inputStyle">
					<label class="labelValid" for="parking"><span><i class="ion-android-done"></i></span>Parking</label>
					<input id="piscine" type="checkbox" name="equipments" value="Piscine" ng-model="announce.equipments['piscine']">
				</div>

				<div class="inputStyle">
					<input id="digicode" type="checkbox" name="equipments" value="Digicode" ng-model="announce.equipments['digicode']">
					<label class="labelValid" for="digicode"><span><i class="ion-android-done"></i></span>Digicode, Interphone</label>
				</div>

				<div class="inputStyle">
					<input id="ascenceur" type="checkbox" name="equipments" value="Ascenceur" ng-model="announce.equipments['ascenceur']">
					<label class="labelValid" for="ascenceur"><span><i class="ion-android-done"></i></span>Ascenceur</label>
				</div>

				<div class="inputStyle">
					<input id="gardien" type="checkbox" name="equipments" value="Gardien" ng-model="announce.equipments['gardien']">
					<label class="labelValid" for="gardien"><span><i class="ion-android-done"></i></span>Gardien</label>
				</div>

				<div class="inputStyle">
					<input id="wc" type="checkbox" name="equipments" value="Toilettes Séparées" ng-model="announce.equipments['wc']">
					<label class="labelValid" for="wc"><span><i class="ion-android-done"></i></span>Toilettes séparées</label>
				</div>

				<div class="inputStyle">
					<input id="jardin" type="checkbox" name="equipments" value="Jardin" ng-model="announce.equipments['jardin']">
					<label class="labelValid" for="jardin"><span><i class="ion-android-done"></i></span>Jardin</label>
				</div>

				<div class="inputStyle">
					<input id="piscine" type="checkbox" name="equipments" value="Piscine" ng-model="announce.equipments['piscine']">
					<label class="labelValid" for="piscine"><span><i class="ion-android-done"></i></span>Piscine</label>
				</div>
	
				<button class="backAppartment" ng-click="back()"><i class="ion-ios-arrow-left"></i></button>
				<button class="validSearchAppartment" ng-click="registerUserProperty('equipments')"><i class="ion-android-done"></i></button>
			</div>
	</ion-content>

	<ion-content ng-show="currentScreen === 9" class="padding tipeek_screen_path_appartment">

		<div class="bar bar-header bar-balanced">		  
			<h1 class="title">Autres critères</h1>
		</div>

		<p ng-show="error" class="formErrorAnnounce">Vous devez choisir au moins 1 autre critère</p>

		<div class="style_input_path_appartment">

		<div class="inputStyle">
			<input id="lasfloor" type="checkbox" name="otherCriteria" value="Dernier étage" ng-model="announce.otherCriteria['lastfloor']">
			<label class="labelValid" for="lasfloor"><span><i class="ion-android-done"></i></span>Dernier étage</label>
		</div>

		<div class="inputStyle">
			<input id="firstfloor" type="checkbox" name="otherCriteria" value="Premier étage" ng-model="announce.otherCriteria['firstfloor']">
			<label class="labelValid" for="firstfloor"><span><i class="ion-android-done"></i></span>Rez-de-chaussée</label>
		</div>

		<div class="inputStyle">
			<input id="duplex" type="checkbox" name="otherCriteria" value="Duplex" ng-model="announce.otherCriteria['duplex']">
			<label class="labelValid" for="duplex"><span><i class="ion-android-done"></i></span>Duplex</label>
		</div>

		<div class="inputStyle">
			<input id="exclu" type="checkbox" name="otherCriteria" value="Exclusivité" ng-model="announce.otherCriteria['exclu']">
			<label class="labelValid" for="exclu"><span><i class="ion-android-done"></i></span>Exclusivité</label>
		</div>

		<div class="inputStyle">
			<input id="withoutWork" type="checkbox" name="otherCriteria" value="Sans travaux" ng-model="announce.otherCriteria['without work']">
			<label class="labelValid" for="withoutWork"><span><i class="ion-android-done"></i></span>Sans travaux</label>
		</div>

			<button class="backAppartment" ng-click="back()"><i class="ion-ios-arrow-left"></i></button>
			<button class="validSearchAppartment" ng-click="registerUserProperty('otherCriteria')"><i class="ion-android-done"></i></button>

		</div>
	</ion-content>

	<ion-content ng-show="currentScreen === 10" class="padding tipeek_screen_path_appartment">

		<div class="bar bar-header bar-balanced">	
			<h1 class="title">Classe d'énergie</h1>
		</div>

		<p ng-show="error" class="formErrorAnnounce">Vous devez choisir une classe d'énergie</p>

		<div class="style_input_path_appartment">

			<div class="inputStyle">
				<input id="energy1" type="radio" name="energyClass" value="A" ng-model="announce.energyClass" ng-checked="true">
				<label class="labelRadio" for="energy1">A (- de 60)</label>
			</div>

 			<div class="inputStyle">
				<input id="energy2" type="radio" name="energyClass" value="B" ng-model="announce.energyClass">
				<label class="labelRadio" for="energy2">B (de 51 à 90)</label>
			</div>

			<div class="inputStyle">
				<input id="energy3" type="radio" name="energyClass" value="C" ng-model="announce.energyClass">
				<label class="labelRadio" for="energy3">C (de 91 à 150)</label>
			</div>

			<div class="inputStyle">
				<input id="energy4" type="radio" name="energyClass" value="D" ng-model="announce.energyClass">
				<label class="labelRadio" for="energy4">D (de 151 à 230)</label>
			</div>

			<div class="inputStyle">
				<input id="energy5" type="radio" name="energyClass" value="E" ng-model="announce.energyClass">
				<label class="labelRadio" for="energy5">E (de 231 à 330)</label>
			</div>

			<div class="inputStyle">
				<input id="energy6" type="radio" name="energyClass" value="F" ng-model="announce.energyClass">
				<label class="labelRadio" for="energy6">F (de 331 à 450)</label>
			</div>

			<div class="inputStyle">
				<input id="energy7" type="radio" name="energyClass" value="G" ng-model="announce.energyClass">
				<label class="labelRadio" for="energy7">G (de 451 à 590)</label>
			</div>

			<div class="inputStyle">
				<input id="energy8" type="radio" name="energyClass" value="H" ng-model="announce.energyClass">
				<label class="labelRadio" for="energy8">H (de 591 à 790)</label>
			</div>

			<div class="inputStyle">
				<input id="energy9" type="radio" name="energyClass" value="I" ng-model="announce.energyClass">
				<label class="labelRadio" for="energy9">I (791 et +)</label>
			</div>

			<div class="inputStyle">
				<input id="energy10" type="radio" name="energyClass" value="Vierge" ng-model="userAnnouncer.property.energyClass">
				<label class="labelRadio" for="energy10">Vierge</label>
			</div> 
				<button class="backAppartment" ng-click="back()"><i class="ion-ios-arrow-left"></i></button>
				<button class="validSearchAppartment" ng-click="registerUserProperty('energyClass')"><i class="ion-android-done"></i></button>
		</div>
	</ion-content>

	<ion-content ng-show="currentScreen === 11" class="padding tipeek_screen_path_appartment">

		<div class="bar bar-header bar-balanced">	
			<h1 class="title">Gaz à Effet de serre</h1>
		</div>

		<p ng-show="error" class="formErrorAnnounce">Vous devez choisir une valeur de gaz à Effet de serre</p>


		<div class="style_input_path_appartment">

			<div class="inputStyle">
				<input id="greenHouseGas1" type="radio" name="greenHouseGas" value="A" ng-model="announce.greenHouseGas" ng-checked="true">
				<label class="labelRadio" for="greenHouseGas1">A (- de 5)</label>
			</div>

			<div class="inputStyle">
				<input id="greenHouseGas2" type="radio" name="greenHouseGas" value="B" ng-model="announce.greenHouseGas">
				<label class="labelRadio" for="greenHouseGas2">B (de 6 à 10)</label>
			</div>

			<div class="inputStyle">
				<input id="greenHouseGas3" type="radio" name="greenHouseGas" value="C" ng-model="announce.greenHouseGas">
				<label class="labelRadio" for="greenHouseGas3">C (de 11 à 20)</label>
			</div>

			<div class="inputStyle">
				<input id="greenHouseGas4" type="radio" name="greenHouseGas" value="D" ng-model="announce.greenHouseGas">
				<label class="labelRadio" for="greenHouseGas4">D (de 21 à 35)</label>
			</div>

			<div class="inputStyle">
				<input id="greenHouseGas5" type="radio" name="greenHouseGas" value="E" ng-model="announce.greenHouseGas">
				<label class="labelRadio" for="greenHouseGas5">E (de 36 à 55)</label>
			</div>

			<div class="inputStyle">
				<input id="greenHouseGas6" type="radio" name="greenHouseGas" value="F" ng-model="announce.greenHouseGas">
				<label class="labelRadio" for="greenHouseGas6">F (de 81 à 110)</label>
			</div>

			<div class="inputStyle">
				<input id="greenHouseGas7" type="radio" name="greenHouseGas" value="G" ng-model="announce.greenHouseGas">
				<label class="labelRadio" for="greenHouseGas7">G (de 111 à 145)</label>
			</div>

			<div class="inputStyle">
				<input id="greenHouseGas8" type="radio" name="greenHouseGas" value="H" ng-model="announce.greenHouseGas">
				<label class="labelRadio" for="greenHouseGas8">H (146 et +)</label>
			</div>

			<div class="inputStyle">
				<input id="greenHouseGas9" type="radio" name="greenHouseGas" value="Vierge" ng-model="announce.greenHouseGas">
				<label class="labelRadio" for="greenHouseGas9">Vierge</label>
			</div>

			<button class="backAppartment" ng-click="back()"><i class="ion-ios-arrow-left"></i></button>
			<button class="validSearchAppartment" ng-click="registerUserProperty('greenHouseGas')"><i class="ion-android-done"></i></button>

		</div>
	</ion-content>

	<ion-content ng-show="currentScreen === 12" class="padding tipeek_screen_path_appartment">

		<div class="bar bar-header bar-balanced">	
			<h1 class="title">Description</h1>
		</div>

		<p ng-show="error" class="formErrorAnnounce">Vous devez entrer une description</p>


		<div class="style_input_path_appartment">
			<input id="description" type="textarea" ng-model="announce.description" placeholder="Parlez-nous de votre logement">

			<button class="backAppartment" ng-click="back()"><i class="ion-ios-arrow-left"></i></button>
			<button ng-click="registerUserProperty('description')" class="validSearchAppartment"><i class="ion-android-done"></i></button>
		</div>
	</ion-content>

	<ion-content ng-show="currentScreen === 13" class="padding tipeek_screen_path_appartment">

		<div class="bar bar-header bar-balanced">	
			<h1 class="title">Prix de vente</h1>
		</div>

		<div class="style_input_path_appartment">
			<input class="price" type="number" ng-model="announce.price" placeholder="Entrez le prix de vente">

			<div class="wording"><i class="ion-social-euro"></i></div>

			<button class="backAppartment" ng-click="back()"><i class="ion-ios-arrow-left"></i></button>
			<button ng-click="registerUserProperty('price')" class="validSearchAppartment"><i class="ion-android-done"></i></button>
		</div>

	</ion-content>

	<ion-content ng-show="currentScreen === 14" class="padding tipeek_screen_path_appartment">

		<div class="bar bar-header bar-balanced">	
			<h1 class="title">Vos photos</h1>
		</div>

		<div class="style_input_path_appartment">
			<h5> Entrée, salon, cuisine, chambres,...</h5>
			<h5>Vous pouvez ajouter jusqu'à 10 photos</h5>

			<button class="backAppartment" ng-click="back()"><i class="ion-ios-arrow-left"></i></button>
			<button class="valid large">Ajouter des photos</button>
			<button class="validSearchAppartment" ng-click="registerUserProperty('photos')"><i class="ion-android-done"></i></button>		
		</div>
	</ion-content> 

	<ion-content ng-show="currentScreen === 15" class="padding tipeek_screen_path_appartment">

		<div class="bar bar-header bar-balanced">	
			<h1 class="title">Récapitulatif</h1>
		</div>

		<div class="style_input_path_appartment recap">

			<div class="inputStyle">
				<label for="propertyType">{{announce.propertyType}}</label>
				<div class="buttonEdit" ng-click="updateStep(3)"><i class="ion-chevron-right"></i></div>
			</div>

			<div class="inputStyle">
				<label for="homeType">{{announce.homeType}}</label>
				<div class="buttonEdit" ng-click="updateStep(4)"><i class="ion-chevron-right"></i></div>
			</div>

			<div class="inputStyle">
				<label for="style">Style</label>
				<div class="buttonEdit" ng-click="updateStep(5)"><i class="ion-chevron-right"></i></div>
			</div>

			<div class="inputStyle">
				<label for="surface">{{announce.surface}} m²</label>
				<div class="buttonEdit" ng-click="updateStep(6)"><i class="ion-chevron-right"></i></div>
			</div>

			<div class="inputStyle">
				<label for="nbPieces">{{announce.nbPieces}} pièces, {{announce.nbRooms}} chambres</label>
				<div class="buttonEdit" ng-click="updateStep(7)"><i class="ion-chevron-right"></i></div>
			</div>

			<div class="inputStyle">
				<label for="equipments">Equipements</label>
				<div class="buttonEdit" ng-click="updateStep(8)"><i class="ion-chevron-right"></i></div>
			</div>

			<div class="inputStyle">
				<label for="equipments">Autres critères</label>
				<div class="buttonEdit" ng-click="updateStep(9)"><i class="ion-chevron-right"></i></div>
			</div>

			<button class="backAppartment" ng-click="back()"><i class="ion-ios-arrow-left"></i></button>
			<button ng-click="registerUserProperty('recap')" class="validSearchAppartment"><i class="ion-android-done"></i></button>

		</div>
	</ion-content> 

	<ion-content ng-show="currentScreen === 16" class="padding tipeek_screen_path_appartment">

		<div class="bar bar-header bar-balanced">	
			<h1 class="title">Récapitulatif</h1>
		</div>

		<div class="style_input_path_appartment recap">

			<div class="inputStyle">
				<label for="energyClass">Classe d'énergie</label>
				<div class="buttonEdit" ng-click="updateStep(10)"><i class="ion-chevron-right"></i></div>
			</div>

			<div class="inputStyle">
				<label for="greenHouseGas">GES</label>
				<div class="buttonEdit" ng-click="updateStep(11)"><i class="ion-chevron-right"></i></div>
			</div>

			<div class="inputStyle">
				<label for="description">{{announce.description}}</label>
				<div class="buttonEdit" ng-click="updateStep(12)"><i class="ion-chevron-right"></i></div>
			</div>

			<div class="inputStyle">
				<label for="price">{{announce.price}}</label>
				<div class="buttonEdit" ng-click="updateStep(13)"><i class="ion-chevron-right"></i></div>
			</div>

			<div class="inputStyle">
				<label for="photos">{{userAnnouncer.datas.photos}}</label>
				<div class="buttonEdit" ng-click="updateStep(14)"><i class="ion-chevron-right"></i></div>
			</div>

			<button class="backAppartment" ng-click="back()"><i class="ion-ios-arrow-left"></i></button>
			<button ng-click="registerUserProperty('recap')" class="validSearchAppartment"><i class="ion-android-done"></i></button>
		</div>
	</ion-content> 

	<ion-content ng-show="currentScreen === 17" class="padding tipeek_screen">

		<h2>Bravo & merci !</h2>

		<div class="list style_input">
			<h5>Votre annonce est en ligne, n'oubliez pas d'activer les notifications pour être averti dès qu'un client vous contacte</h5>

			<button class="valid large" ng-click="registerUserProperty('end')">Accepter les notifications</button>
			<button  class="passStep" ng-click="registerUserProperty('end')">Non merci </button>
		</div>
	</ion-content>   
</ion-view>
