<ion-view>
	<ion-content class="profile_page">

		<h4>Contact</h4>
		
		<div class="profile_picture">
			<img src="img/adam.jpg" alt="">
			<div class="connected"></div>
		</div>

		<div class="name">Gilles</div>
		<div class="work">Négociateur immobilier</div>

		<h1 class="agence">CENTURY 21</h1>
		<div class="address">10 rue des Limons - 75010 Paris</div>

		<div class="announce">REF Annonce : <div class="ref">455F65FDF</div></div>

		<ul class="contacts">

			<li>
				<a href="#/messages?toId={{userId}}">
					<img src="img/icons/icon-comments-active.png" alt="icone chat">
				</a>
				<span>Tchat</span>

			</li>
			<li ng-click="">
				<img src="img/icons/Planche-Icones-3-44.png" alt="icone telephone">
				<span>Télephone</span>
			</li>
			<li ng-click="">
				<img src="img/icons/Planche-Icones-3-45.png" alt="icone courriel">
				<span>Email</span>
			</li>
		</ul>

		<div class="closeProfile"><a href="#/view">Fermer</a></div>

	</ion-content>
</ion-view>
