<ion-view>
	<ion-content class="padding settings">
		<div class="bar bar-header bar-balanced">
			<button class="back-menu"><a href="#/menu-announcer"><i class="ion-ios-arrow-left"></i></a></button>
			<h1 class="title">Paramètres</h1>
		</div>
        <div class="content">
            <h5>Notifications</h5>
                <ul class="list">
                    <li class="item item-toggle">
                        Nouveau logement
                        <label class="toggle toggle-balanced">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                        </label>
                    </li>
                    <li class="item item-toggle">
                        Nouveau message
                        <label class="toggle toggle-balanced">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                        </label>
                    </li>
                    <li class="item item-toggle">
                        Nouvel ami sur l'app
                        <label class="toggle toggle-assertive">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                        </label>
                    </li>
                </ul>
        </div>
	</ion-content>
</ion-view>