<ion-view>
	<ion-content class="padding properties-client">
		<div class="bar bar-header bar-balanced">
			<button class="back-menu"><a href="#/menu-client"><i class="ion-ios-arrow-left"></i></a></button>
			<h1 class="title">Ma recherche</h1>
		</div>

		<h5>Achat</h5>
		<hr>
		<div class="criteria">
			<div>Je recherche un(e) {{search.homeType}} en {{search.searchType}}, avec une surface minimum de {{search.surfaceMin}} m².</div>
			<div>Je souhaite qu'il y ai {{search.nbRooms}} pièces, dont {{search.nbChambers}} chambres.</div>
			<div>Mon budget maximum est de {{search.budgetMin}} €</div>
		</div>
		<i class="ion-ios-arrow-right"></i>

		<div class="delete">Supprimer</div>
		<div class="edit">Modifier</div>
	</ion-content>
</ion-view>
